
config dropbear
{% if dropbear_allow_password_authentication | bool %}
{# default configuration file on 22.03 uses 'on', not '1' #}
	option PasswordAuth 'on'
{% else %}
	option PasswordAuth 0
{% endif %}
	option Port '{{ dropbear_port }}'
{% if not dropbear_allow_root_login | bool %}
	option RootLogin 0
{% endif %}
{% if not dropbear_allow_root_login_with_password | bool %}
	option RootPasswordAuth 0
{% endif %}
{% if dropbear_interface is defined %}
	option Interface '{{ dropbear_interface }}'
{% endif %}

